.btb-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    /* Add this */
    justify-content: center;
    /* Add this */
    align-items: center;
    /* Add this */
    min-height: 100vh;
    /* Add this */
}

.btb-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width: 90%;
}

.btb-card-body {
    padding: 20px;
}

.btb-card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.btb-card-body p {
    font-size: 18px;
    /* increased font size */
    line-height: 1.5;
    margin-bottom: 15px;
}

.btb-highlighted-text {
    background-color: rgba(111, 255, 0, 0.732);
    /* added background color */
    padding: 10px;
    /* added padding */
    border-radius: 5px;
    /* added border-radius */
}

.btb-pdf-container {
    position: relative;
    width: 100%;
    height: 5000px;
    /* Adjust the height as needed */
}

.btb-pdf-viewer {
    width: 100%;
    height: 100%;
    border: none;
}